img.image1{
    height: 150px;
    width: 10.504%;
    float: left;
}

div.headbild{
    background-image: linear-gradient(to right, white -6%, #39b337 50%);
    width: 89.496%;
    height: 150px;
    float: right;
}

div.flyerProdukte, div.Faltblatt, div.poster{
    border: solid;
    width: 33%;
    float: left;
    text-align: center;
}



table.navTable{
    background-color: #39B337;
    width: 100%;
    text-align: center;
    font-family: Tahoma;
    font-size: 12px;
    background-color: black;
    color: white;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

div.bestellDetails{
    background-color: #2b542c;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

div.Kundenformular{

}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

p.uploadFehler{
    color: red;
}



table.admintable {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-color: transparent;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
    background-color: #667788;
    border-radius: 20px 20px 8px 20px;
}

.admintable th {
    background-color: black;
    color: white;
    height: 50px;
}

.admintable th:first-child {
    border-radius: 20px 0 0 0;
}

.admintable th:last-child {
    border-radius: 0 20px 0 0;
}

.admintable td {
    table-layout: fixed;
    border-color: black;
    text-align: center;
    height: 20px;
}

.admintable tr:hover{
    background-color: lightgrey;
}

div.tabellengrenze{
}

div.adminbereich{
    text-align: center;
}